@keyframes success {
    0% {
        color: #D72638;
    }

    16% {
        color: #FF5700;
    }

    32% {
        color: #FFC107
    }

    48% {
        color: #4CAF50
    }

    64% {
        color: #1E88E5
    }

    82% {
        color: #9C27B0
    }

    100% {
        color: #243447;
    }
}

@keyframes fail {

    0% {
        color: #FF4D6D;
    }

    16% {
        color: #FFA333;
    }

    32% {
        color: #FFE066;
    }

    48% {
        color: #B9FBC0
    }

    64% {
        color: #57C7FF
    }

    82% {
        color: #E87BF8
    }

    100% {
        color: #243447;
    }
}